extends layout

block content
    h1= __("deleted-pages")
    if pages.length
        p= __("archive-description")
        ul
            each page in pages
                li
                    a(href=page.path)= page.title
    else
        p: strong= __("no-deleted-pages")

