extends layout

block main
    #messages.messages
    if page && page.deleted
        .alert.alert-warning= __("page-status-deleted")
    .row
        .span3
            block navigation
                mixin renderNavigation(navigation)
            block pagemeta

        .span9
            -if (breadcrumbs.length)
                ul.breadcrumb
                    each breadcrumb in breadcrumbs
                        li
                            a(href=breadcrumb.path)= breadcrumb.segment
                            span.divider #

            block content
