mixin renderNavigation(nodes)
    each node in nodes
        li
            a(href=node.path)= node.title
    
            - if (node.nodes)
              ul.nav.nav-list
                  mixin renderNavigation(node.nodes)