extends layout

block main
    div.navbar
      div.navbar-inner
        a(href="#").brand= __("all-pages")
        ul.nav
          li.active
            a(href="/pages")= __("list")
          li
            a(href="/pages/covers")= __("cover")
    ul
        each page in pages
            li
                a(href=page.path)= page.title

