a {
    color: #00B7FF;
}
.tags {
    margin: 1em 0;
    color: darkgreen;
}
.tags h2 {
    font-size: 14px;
    display:inline-block;
    margin-right: 1em;
}
.tags div {
    display: inline-block;
    min-width:10px;
}
.drop-here {
    border: 5px dashed #ccc;
    margin-top: 2em;
    margin-bottom: 2em;
    padding: 25px;
    font-weight: bold;
    color: #ccc;
    text-align: center;
    text-transform: uppercase;
}
.drop-here.active {
    border-color: #aaa;
    color: #aaa;
}
.messages {
    position: fixed;
    top: 0;
    left: 50%;
    margin-left: -25%;
    width: 50%;
}
.plain-list {
    list-style: none;
    padding: 0;
    margin: 0;
}
.plain-list li {
    position:relative;
    display:block;
    padding-right: 16px;
    text-overflow: ellipsis;
    max-width: 100%;
    white-space: nowrap;
    overflow:hidden;
}
.plain-list i {
    margin: 0 .2em;
}
.plain-list .icon-remove-sign{
    position: absolute;
    top: 2px;
    right: 2px;
    opacity:.3;
}
.plain-list .icon-remove-sign:hover{
    opacity: 1;
}

.content {
    min-height: 250px;
}

.content:before{
    position: absolute;
    left: 100%;
    top: 0;
    color: #ccc;
    font-size:9px;
    text-transform: uppercase;
    content: "drop links, images, youtube and vimeo videos";
    border-left: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    -webkit-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    transform: rotate(90deg);
    width: 250px;
    margin-left: 25px;
    padding-left: 5px;
}

.modified-by{
    color:#ccc;
    text-align:right;
}

.modified-by strong{
    color: #666;
    padding-left: 5px;
}

.preview{
    list-style: none;
    display:none;
    text-align: center;
    padding:10px;
    float:left;
    width:130px;
    height:150px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}
.preview:hover{
    background-color:#EDEDED;
}
.preview img{
    max-height:100px;
    max-width:100px;
}

