a {
    color: #00B7FF;
}
.tags {
    margin: 1em 0;
    color: darkgreen;
}
.tags h2 {
    font-size: 14px;
    display:inline-block;
    margin-right: 1em;
}
.tags div {
    display: inline-block;
}
.drop-here {
    border: 5px dashed #ccc;
    margin-top: 2em;
    margin-bottom: 2em;
    padding: 25px;
    font-weight: bold;
    color: #ccc;
    text-align: center;
    text-transform: uppercase;
}
.drop-here.active {
    border-color: #aaa;
    color: #aaa;
}
.messages {
    position: fixed;
    top: 0;
    left: 50%;
    margin-left: -25%;
    width: 50%;
}
.attachments {
    list-style: none;
    padding: 0;
    margin: 0;
}
.attachments i {
    margin: 0 .2em;
}

