extends layout

block content
    div.navbar
      div.navbar-inner
        a(href="#").brand Alle Seiten
        ul.nav
          li.active
            a(href="/pages") Liste
          li
            a(href="/pages/covers") Cover    
    ul
        each page in pages
            li
                a(href=page.path)= page.title

