extends layout

block content
    h1.title.edit(contenteditable)= page.title

    div.tags
        h2.label.label-success
            i.icon-tags 
            | &nbsp;Tags
        div.edit(contenteditable)= page.tags.join(", ")

    #content.content.editable(contenteditable)
        != page.content

    //-if(page.modifiedBy)
    //-    .modified-by zuletzt bearbeitet von
    //-        strong= page.modifiedBy

block pagemeta
    mixin attachments(page.attachments)
    mixin fileDropper
    mixin images(page.images)
    mixin versionLink(page)
